/** unique styles for jQuery comments **/

.button {
	font-size:10px;
}
#comments { margin-left: 70px; font-family: Arial, Tahoma, sans-serif; font-size: 100%; }

#content a { color: #105Cb6; text-decoration: none; cursor: pointer; }
#content p { display: block; }
#content ul{ padding-left: 20px; line-height: 18px;  list-style-type: none;}		
abbr{border-bottom-width: 0;}

.comment-thread { width: 600px; margin-bottom: 20px; } 
.thread-replies .comment-thread {width: auto; }
.comment-block {background: #fff; padding: 10px; display: block; overflow: hidden; border-left-style: solid;border-left-width: 3px; ; }

.thread-replies { display: block; margin-left: 45px; }

.author-avatar { float: left; width: 50px; margin: 0 10px 10px 0; }
.author-avatar img { display: block; width: 16px height: 16px; padding: 1px; border: 1px solid #98a0ae; position: relative; top: 2px; }
.comment-block a {font-weight: bold; font-size: 12px;}
.comment-top-meta a {font-size: 13px;margin-right:8px;}
.comment-top-meta { margin-bottom: 0px; margin-top:0; margin-left:10px ;display: block; padding-left: 18px; font-size: 12px;}
.comment-top-meta .timeago { display:block; font-size: 12px; color: #818181;line-height: 0px;margin-top:4px;}
.comment-top-meta .replies { font-size: 11px; color: #105Cb6; } 
.comment-content { display: block; line-height: 14px; margin-bottom: 10px; }
.comment-content .the-comment-post {word-wrap: break-word; display: block; color: #333; font-size: 12px; margin-bottom: 3px; }

.rank {float:right; font-size: 12px; color: #818181; border-bottom: dotted; border-bottom-width: thin;}
.sentiment {border-bottom: dotted; border-bottom-width: thin; cursor: pointer;}
.comment-reply-options { margin-left:50px; display: block; margin-bottom: 10px; font-size: 12px;font-weight: bold;line-height: 18px;}
.showhidecommform { display: block; }
.voted { color: #818181;}
.bull {margin-right:8px;margin-left:8px;}
#commsubform { display: block; padding-top: 12px; margin-bottom: 3px; clear: both; font-size: 11px; font-weight: bold;  color: #666; }
#commsubformheader {display: block; font-size: 11px; font-weight: bold;  color: #666;}
.commtxtfield { width: 350px; padding: 4px 7px; font-family: Arial, Tahoma, sans-serif; font-size: 14px; line-height: 18px; color: #575a60; }

#commsubform img {
	width: 25px;
}
